<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
<title>FVIV Finanzen:</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script th:inline="Javascript">
$(function () { 
	var salary = [[${salaryTotal}]];
	var catering = [[${cateringTotal}]];
	var rent = [[${rentTotal}]];
	var total = salary+catering+rent;
	var deposit = [[${deposit}]];
	var balance = deposit - total;
	
    $('#finances_chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'FVIV Finanzen'
        },
        xAxis: {
        	categories: ['Gesamt']
        },
        yAxis: {
            title: {
                text: 'Ausgaben in €'
            }
        },
        series: [{
        	name: 'Balance',
        	data: [balance]
    	},{		
            name: 'Guthaben',
            data: [deposit]
        },{
        	name: 'Ausgaben Total',
        	data: [total]     	
        },{
        	name: 'Gehälter Total',
        	data: [salary]
        },{
        	name: 'Catering Total',
        	data: [catering]
        },{
        	name: 'Miete Total',
        	data: [rent]
        }]
    });
});
</script>
</head>
<body>
	<div id="nav">
		<form action="manager.html">
			<input type="submit" class="nav_button" value="proTerminal"></input>
		</form>
		<form action="checkEmployees.html">
			<input type="submit" class="nav_button" value="Mitarbeiter auflisten"></input>
		</form>
		<form>
			<input type="button" class="nav_button" value="Finanzen auflisten"></input>
		</form>
		<form>
			<input type="button" class="nav_button" value="Accountverwaltung"></input>
		</form>
		<form action ="ticket.html">
            <input type="button" class="nav_button" value="PDF-Drucken"></input>
        </form>
	</div>
	<h1>FVIV Finanzen:</h1>
	<div id="salary_table">
		<table border="1">
				<tr>
					<th>Ausgabenart</th>
					<th>Menge</th>
				</tr>
				<tr th:each=" salary : ${salary}">
				 	<td>Gehalt</td>
				 	<td th:text="${salary.amount}"></td>
				</tr>
				<tr>
					<th>Gehälter Total:</th>
					<th th:text="${salaryTotal}" id="salaryTotal"></th>
				</tr>
			</table>
	</div>
	<div id="catering_table">
			<table border="1">
				<tr>
					<th>Ausgabenart</th>
					<th>Menge</th>
				</tr>
				<tr th:each=" catering : ${catering}">
					<td>Catering</td>
					<td th:text="${catering.amount}"></td>
				</tr>
				<tr>
					<th>Catering Total:</th>
					<th th:text="${cateringTotal}"></th>
				</tr>
			</table>
	</div>
	<div id="rent_table">
			<table border="1">
				<tr>
					<th>Ausgabenart</th>
					<th>Menge</th>
				</tr>
				<tr th:each=" rent : ${rent}">
					<td>Miete</td>
					<td th:text="${rent.amount}"></td>
				</tr>
				<tr>
					<th>Miete Total:</th>
					<th th:text="${rentTotal}"></th>
				</tr>
			</table>
	</div>
	<div id="finances_chart" style="width:50%; height:400px;">
	</div>			
</body>
</html>