body {
	background-color: #383839;
	font-family: 'Oxygen', sans-serif;
}

#webseite {
	width: 1000px;
	height: auto;
	margin: auto;
}

#header {
	width: 1000px;
	height: 80px;
	clear: both;
}

#header_text {
	color: #fff;
	font-size: 50px;
	position: relative;
	margin-top: 30px;
}

#loggedAs {
	float: right;
	height: 80px;
	width: auto;
	color: #fff;
}

#loggedAs p {
	text-align: right;
	margin: 0;
}

#loggedAs span {
	margin-top: 0;
	font-size: 50px;
}

#menu {
	width: 150px;
	height: 300px;
	float: right;
}

#menu p {
	margin: 0;
}

.menuPointNormal {
	width: 150px;
	height: 20px;
	margin-bottom: 5px;
	border: #0C3 medium solid;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}

.menuPointBold {
	width: 150px;
	height: 50px;
	margin-bottom: 5px;
	padding-top: 30px;
	border: #0C3 medium solid;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}

#content {
	width: 840px;
	height: auto;
	float: left;
	border-top: #0C3 thick dashed;
}

#request {
	width: 400px;
	height: 200px;
	border: #0C3 medium solid;
	background-color: #383839;
	position: absolute;
	top: 20%;
	left: 35%;
	color: #fff;
	display: none;
	cursor: pointer;
	position: absolute;
}

#requestAll {
	width: 400px;
	height: 200px;
	border: #0C3 medium solid;
	background-color: #383839;
	position: absolute;
	top: 20%;
	left: 35%;
	color: #fff;
	display: none;
	cursor: pointer;
}

#frame {
	width: 835px;
	height: 800px;
	border: #0C3 medium solid;
	margin-top: 10px;
}

#area {
	width: 100px;
	height: 100px;
	background-color:#333;
	border: #fff thin solid;
}
#stage{
	width: 0px;
	height: 0px;
	background-color:#cd0;
	overflow:hidden;
	position:relative;
	z-index:5;
}
#camping{
	width: 0px;
	height: 0px;
	background-color:#3cc;
	overflow:hidden;
	position:relative;
	z-index:10;
}
#catering{
	width:0px;
	height:0px;
	background-color:#e8bd23;
	overflow:hidden;
	position:relative;
	z-index:15;
}
#toilet{
	width:0px;
	height:0px;
	background-color:#0c3;
	overflow:hidden;
	position:relative;
	z-index:20;
}