body {
	background-color: #4A4A4A;
	font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	color: #FFFFFF;
}

.nav_button {
	margin-top: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background-color:transparent;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:3px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
	float:left;
	margin-left:3px;
}

.nav_button:active {
	position:relative;
	top:1px;
}
h1 {
	clear: both;
 	padding-top: 5px;
}

label {
	display:block;
	width:50px;
	margin-top:3px;
}

#salary_table {
	float: left;
	text-align: center;
}

#catering_table {
	float: left;
	padding-left:5px;
	text-align:center;	
}

#rent_table {
	float: left;
	padding-left:5px;
	text-align:center;
}

#finances_chart {
	position:relative; top:20px;
}

#nav {
	margin:0 auto;
	width:100%;
}

#logo_img {
	position:fixed;
  	bottom:0;
  	right:0;
  	z-index:100;
}