<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oxygen'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="../style.css" />
<script type="text/javascript" src="../main.js" ></script>
<title>Catering Test</title>
</head>

<body>
	<div id="webseite">
		<div id="header">
			<span id="header_text">GELÄNDEPLANER</span>
		</div>
		<div id="content">
			<div id="request">
				<h3>Grö&szlig;e eingeben</h3>
				<form action="/newArea" method="post" name="size" >
					<table>
						<tr>
							<td>Weite:</td>
							<td><input type="number" name="width" size="30" /> m</td>
						</tr>
						<tr>
							<td>Höhe:</td>
							<td><input type="number"  name="height" size="30" /> m</td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit" value="submit" onClick="build();" /></td>
						</tr>
					</table>
				</form>
			</div>
			
			<div id="frame">
			<div id="area"></div>
			</div>
		</div>
		<div id="menu">
			<div class="menuPointNormal" onclick="newArea();">
				<p>Neues Gelände</p>
			</div>
			<div class="menuPointNormal">
				<p>Bühnen</p>
			</div>
			<div class="menuPointNormal">
				<p>Catering</p>
			</div>
			<div class="menuPointNormal">
				<p>Toiletten</p>
			</div>
			<div class="menuPointNormal">
				<p>Zeltplatz</p>
			</div>
		</div>
	</div>
	
</body>
</html>
