<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
<title>FVIV proTerminal</title>
</head>
<body>
	<div id="nav">
		<form>
			<input type="button" class="nav_button" value="proTerminal"></input>
		</form>
		<form action="checkEmployees.html">
			<input type="submit" class="nav_button" value="Mitarbeiter auflisten"></input>
		</form>
		<form action="checkFinances.html">
			<input type="submit" class="nav_button" value="Finanzen auflisten"></input>
		</form>
		<form>
			<input type="button" class="nav_button" value="Accountverwaltung"></input>
		</form>
		<form action="ticktet.html">
            <input type="button" class="nav_button" value="PDF-Drucken"></input>
        </form>
	</div>
	<h1>Willkommen im proTerminal</h1>
	<div id="logo_img">
		<img src="../resources/img/FVIVgmbh.png" height="150px" width="100%"></img>
	</div>
</body>
</html>