<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
		<title th:text="#{home.title}">Catering</title>
	</head>

<body>
<div id="webseite">
  <div id="header"><span id="header_text">HEADLINE</span><!-- Je nachdem ob man auf speisen, getraenke oder chat ist, muss hier halt die jeiweilige headline stehen -->
    <div id="loggedAs">
      <p>angemeldet als:</p>
      <span>CATERER XXXXXX</span></div>
    <!-- Hier kommt dann die ID des Caterers hin--> 
  </div>
  <div id="content">
  <div id="orderList">

  
  	<div class="storno"><a th:href="cancel">CONFIRM</a></div>
  	<div class="storno"><a th:href="cancel">STORNO</a></div>
  	
  </div>
    
    <div  id="chooseBox" th:switch="${ordermode}">	<!--  man kann auch aus der messages.properties machen #{shit} -->
    
    
    	
    	<div th:case="meals">
	    	<a th:each="meal : ${mealsRepository}" th:href="@{'/menu/' + ${meal.identifier}}">
	    		<div class="field">
	    			<p th:text="${meal.name}"></p>
	    			<p th:text="${meal.price}"></p>
	    		</div>
	    	</a>
    	</div>
    	
    	<div th:case="drinks">
    	<a th:each="drink : ${drinksRepository}" th:href="@{'/menu/' + ${drink.identifier}}">
    		<div id="field">
    			<p th:text="${drink.name}"></p>
    			<p th:text="${drink.price}"></p>
    		</div>
    	</a>	
    	</div>	
 	 	<h2 th:case="*">Neuer Kunde</h2>
 	 </div>
	</div>
	
	<div th:unless="${cart.empty}">
  	<table>
  		<tbody th:remove="all-but-first">
  		<tr th:each="orderline : ${cart}">
  			<td th:text="${orderline.productName}">Currywurst</td>
  			<td th:text="${orderline.price}">3.00 EUR</td>
  		</tr>
  		</tbody>
  	</table>
  	</div>
  
  <div id="menu">
    <div id="menuPointNormal">
      <p>LOGOUT</p>
    </div>
    <div id="menuPointNormal">
      <p>CHAT</p>
    </div>
    <div id="menuPointBold">
      <p><a href="/meals">SPEISEN</a></p>
    </div>
    <div id="menuPointBold">
      <p><a href="/drinks">GETRÄNKE</a></p>
    </div>
  </div>
</div>
</body>
</html>
