<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
<title>FVIV Mitarbeiter</title>
</head>
<body>
	<div id="nav">
		<form action="manager.html">
			<input type="submit" id="nav_button" value="proTerminal"></input>
		</form>
		<form>
			<input type="button" id="nav_button" value="Mitarbeiter auflisten"></input>
		</form>
		<form action="checkFinances.html">
			<input type="submit" id="nav_button" value="Finanzen auflisten"></input>
		</form>
		<form>
			<input type="button" id="nav_button" value="Accountverwaltung"></input>
		</form>
	</div>
	<h1>FVIV Mitarbeiter:</h1>
	<table border="1">
		<thead>	
			<tr>
				<th>ID</th>
				<th>Nachname</th>
				<th>Vorname</th>
				<th>Email-Adresse</th>
				<th>Telefonnummer</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each=" employee : ${employeelist}">
			 	<td th:text="${employee.id}"></td>
				<td th:text="${employee.lastname}"></td>
				<td th:text="${employee.firstname}"></td>
				<td th:text="${employee.email}"></td>
				<td th:text="${employee.phone}"></td>
			</tr>
		</tbody>
</table>
</body>
</html>