<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
<title>FVIV Finanzen:</title>
</head>
<body>
	<form action="manager.html">
		<input type="submit" value="proTerminal"></input>
	</form>
	<h1>FVIV Finanzen:</h1>
	<table border="1">
			<tr>
				<th>Ausgabenart</th>
				<td>Menge</td>
			</tr>
			<tr th:each=" salary : ${salary}">
			 	<th>Gehälter/Stunde</th>
			 	<td th:text="${salary.amount}"></td>
			</tr>
			<tr>
				<td>Gehälter Total:</td>
				<td th:text="${salaryTotal}"></td>
			</tr>
			<tr></tr>
			<tr th:each=" catering : ${catering}">
				<th>Catering/Tag</th>
				<td th:text="${catering.amount}"></td>
			</tr>
			<tr>
				<td>Catering Total:</td>
				<td th:text="${cateringTotal}"></td>
			</tr>
			<tr></tr>
			<tr th:each=" rent : ${rent}">
				<th>Miete/Tag</th>
				<td th:text="${rent.amount}"></td>
			</tr>
			<tr>
				<td>Miete Total:</td>
				<td th:text="${rentTotal}"></td>
			</tr>			
	</table>
</body>
</html>