<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
<title>FVIV proTerminal</title>
</head>
<body>
	<h1>Willkommen im proTerminal BigBoss</h1>
	<h2>Mögliche Optionen:</h2>
	<form action="checkEmployees.html">
		<input type="submit" value="Mitarbeiter auflisten"></input>
	</form>
	<form action="checkFinances.html">
		<input type="submit" value="Finanzen auflisten"></input>
	</form>
	<form action="newLogin.html">
		<input type="submit" value="Neuen Login anlegen"></input>
	</form>
</body>
</html>