@charset "utf-8";

#orderList {
	width: 250px;
	height: 420px;
	clear: both;
}

#left-box {
	width: 250px;
	height: auto; float : left;
	border: #f9731C 2px solid;
	margin-top: 10px;
	float: left;
}

#button-box {
	width: 50px;
	height: auto;
	clear: both;
}

#chooseBox {
	width: 560px;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: #f9731C 2px solid;
	float: right;
	color: white;
}

.field {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #fff;
	float: left;
	color: black;
	padding: 12.5px;
}

.field a {
	color: black;
}

.fieldgrey {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #aaa;
	float: left;
	color: grey;
	padding: 12.5px;
	pointer-events: none;
}

#cancel {
margin-left:40px;
	}

#confirm {
margin-left:40px;
	}