@charset "utf-8";

#substance{
	width: 835px;
	height: 800px;
	border: #0c3 medium solid;
	margin-top: 10px;
}

.slimButton {
	border: #0C3 medium solid !important;
}
.boldButton {
	border: #0c3 medium solid !important;
}
.slimButton:active {
	border: #0c3 medium solid !important;
}
.boldButton:active {
	border: #0c3 medium solid  !important;
}
#content {
	border-top: #0c3 thick dashed !important;
}
table {
	border-collapse: collapse;
}
tr:nth-child(even) {
	background: #666;
}
tr:nth-child(odd) {
	background: #383839;
}
th{
	border-width: 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
}
td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
}
.employeeTable {
	margin:auto;
	margin-top:5px;
	text-align:center;
}
#deleteEmployeeDiv {
	margin:auto;
}
.salaryTable {
	margin-top:5px;
	display:inline-block;
	text-align:center;
}
.cateringTable {
	display:inline-block;
	text-align:center;
}
.rentTable {
	display:inline-block;
	text-align:center;
}
#financesChart {
	width:70%;
	height:400px;
	margin:auto;
	margin-top:5px;
}
.accountTable {
	margin:auto;
	margin-top:5px;
	text-align:center;
}