@charset "utf-8";
/* CSS Document */
#substance {
	width: 835px;
	height: auto;
	border: #0c3 medium solid;
	margin-top: 10px;
}

.slimButton {
	border: #0C3 medium solid !important;
	position: relative;
}

.boldButton {
	border: #0c3 medium solid !important;
	position: relative;
}

.slimButton:active {
	border: #0c3 medium solid !important;
}

.boldButton:active {
	border: #0c3 medium solid !important;
}

#request {
	width: 400px;
	height: 200px;
	border: #0C3 medium solid;
	background-color: #383839;
	position: absolute;
	top: 20%;
	left: 35%;
	color: #fff;
	display: none;
	cursor: pointer;
	position: absolute;
	z-index: 100000;
}

.requestAll {
	width: 400px;
	height: 200px;
	border: #0C3 medium solid;
	background-color: #383839;
	position: absolute;
	top: 20%;
	left: 35%;
	color: #fff;
	display: none;
	cursor: pointer;
}

#content {
	border-top: #0c3 thick dashed !important;
}

.objectMenu {
	width: 150px;
	height: auto;
	display: block;
	position: relative;
	cursor:move;
}

.chooseObject {
	width: 150px;
	height: 100px;
	margin-bottom: 10px;
	border: #f9731c medium solid;
	background-color: #383839;
	cursor: pointer;
}
.area{
	width:0px;
	height:0px;
	background-color:#666;
}

.smallStage{
	width:100px;
	height:70px;
	position:absolute;
	cursor:move;
}
.mediumStage{
	width:150px;
	height:100px;
	position:absolute;
	cursor:move;
}
.bigStage{
	width:200px;
	height:130px;
	position:absolute;
	cursor:move;
}

.standardToilet{
	width:100px;
	height:70px;
	position:absolute;
	cursor:move;
}
.handicaped{
	width:100px;
	height:70px;
	position:absolute;
	cursor:move;
}
.bathcontainer{
	width:100px;
	height:70px;
	position:absolute;
	cursor:move;
}
.standardCatering{
	width:100px;
	height:70px;
	position:absolute;
	cursor:move;
}