@charset "utf-8";
/* CSS Document */
#substance {
	width: 835px;
	height: auto;
	border: #0c3 medium solid;
	margin-top: 10px;
}

.slimButton {
	border: #0C3 medium solid !important;
	position: relative;
}

.boldButton {
	border: #0c3 medium solid !important;
	position: relative;
}

.slimButton:active {
	border: #0c3 medium solid !important;
}

.boldButton:active {
	border: #0c3 medium solid !important;
}

#request {
	width: 400px;
	height: 200px;
	border: #0C3 medium solid;
	background-color: #383839;
	position: absolute;
	top: 20%;
	left: 35%;
	color: #fff;
	display: none;
	position: absolute;
	z-index: 100000;
}

.requestAll {
	width: 400px;
	height: 200px;
	border: #0C3 medium solid;
	background-color: #383839;
	position: absolute;
	top: 20%;
	left: 35%;
	color: #fff;
	display: none;
	cursor: pointer;
}

#content {
	border-top: #0c3 thick dashed !important;
}

.objectMenu {
	width: 150px;
	height: auto;
	display: block;
	position: relative;
	cursor:move;
}

.chooseObject {
	width: 150px;
	height: 100px;
	margin-bottom: 10px;
	border: #f9731c medium solid;
	background-color: #383839;
	cursor: pointer;
}
#area{
	width:0px;
	height:0px;
	background-color:#666;
}
.objekt{
	position:absolute;
	cursor:move;
	border: #f9731c medium solid;
	background-color: #383839;
}

#context{
	position:absolute;
	padding-right:10px;
	width:250px;
	height:auto;
	background-color:#999;
	z-index:100000000000;
	color:#FFF;
	display:none;
}
#context ul{
	list-style:none;
	margin-left:-10px;
	padding-left:20px;
	cursor:default;
}
#context ul li{
	margin:0px;
	margin-bottom:2px;
}
.contextButton{
	
}
.contextButton:hover{
	background-color:#0C0;
	color:#fff;
	cursor:pointer;
}

/*
#smallStage{
	position:absolute;
	cursor:move;
}
#mediumStage{
	position:absolute;
	cursor:move;
}
#bigStage{
	position:absolute;
	cursor:move;
}
#standardToilet{
	position:absolute;
	cursor:move;
}
#handicaped{
	position:absolute;
	cursor:move;
}
#bathcontainer{
	position:absolute;
	cursor:move;
}
#standardCatering{
	position:absolute;
	cursor:move;
}*/