@charset "utf-8";
/* CSS Document */
body {
	background-color: #383839;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	margin: 0;
	padding: 0;
}
#webseite {
	width: 1000px;
	height: auto;
	margin: auto;
	padding-top: 10px;
}
#header {
	width: 1000px;
	height: 80px;
	clear: both;
	margin-bottom:5px;
}
#title {
	text-transform: uppercase;
	font-size: 50px;
	height: 60px;
	float: left;
}

#selectedFestival {
	font-size: 20px;
	height: 60px;
	float: left;
	background-color: #fff;
}

#loggedAs {
	clear: both;
	width: 1000px;
	height: 20px;
	text-align: right;
}
#loginName {
	float: right;
	height: 60px;
	font-size: 50px;
}
#menu {
	width: 150px;
	height: 300px;
	float: right;
}
.slimButton {
	width: 150px;
	height: 30px;
	margin-bottom: 10px;
	border: #f9731c medium solid;
	background-color: #383839;
	color: #FFF;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	cursor: pointer;
}
.boldButton {
	width: 150px;
	height: 70px;
	margin-bottom: 10px;
	border: #f9731c medium solid;
	background-color: #383839;
	color: #FFF;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	cursor: pointer;
}
.button{
	border: #f9731c medium solid;
	background-color: #383839;
	color: #FFF;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	cursor: pointer;

}
.slimButton:active {
	border: 0;
	border: #f9731c medium solid;
	background-color: #666;
	border-radius: 0;
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.boldButton:active {
	border: 0;
	border: #f9731c medium solid;
	background-color: #666;
	border-radius: 0;
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
#content {
	width: 840px;
	height: auto;
	float: left;
	border-top: #F9731C thick dashed;
}
