<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>People</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>
    <div>
        <h1>Overview</h1>
        <a th:each="person : ${people}" th:href="@{'/messaging/choose/' + ${person.id}}" href="/choose">
            <h4 th:text="${person.name}">Placeholder</h4>
        </a>
    </div>
</body>
</html>