<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="../resources/css/standard.css"/>
<link rel="stylesheet" href="../resources/css/catering.css"/>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css' />

<title th:text="#{catering.title}">Catering</title>
</head>

<body>

	<div id="webseite">
		<div id="header">
			<div id="loggedAs" th:text="#{fviv.whoami}"></div>
			<div th:switch="${ordermode}">
				<div th:case="meals">
					<div id="title" th:text="#{catering.meals}">meals</div>
				</div>
				<div th:case="drinks" th:text="#{catering.drinks}">
					<div id="title">drinks</div>
				</div>
				<div th:case="*">
					<div id="title">TERMINAL</div>
				</div>
			</div>
			<div id="loginName" th:text="${#authentication?.name}">UserName</div>
		</div>
		<div id="content">
			<div id="orderList">

				<div th:unless="${cart.empty}">
					<table>
						<tr th:each="orderline : ${cart}">
							<td th:text="${orderline.productName}">Currywurst</td>
							<td th:text="${orderline.price}">3.00 EUR</td>
							<td th:text="${orderline.quantity}">1</td>
						</tr>
					</table>

					<table>
						<tr>
							<td th:text="#{catering.total} + ': ' + ${cart.price}"></td>
						</tr>
					</table>
				</div>

				<form method="post" action="/catering-confirm">
					<button class="slimButton" type="submit"
						th:text="#{catering.confirm}" value="confirm">confirm</button>
				</form>
				<form method="post" action="/catering-cancel">
					<button class="slimButton" type="submit"
						th:text="#{catering.cancel}" value="cancel">cancel</button>
				</form>

			</div>

			<div id="chooseBox" th:switch="${ordermode}">
				<div th:case="meals">
					<a th:each="meal : ${meals}"
						th:href="@{'/catering-menu/' + ${meal.identifier}}">
						<div class="field">
							<p th:text="${meal.name}"></p>
							<p th:text="${meal.price}"></p>
						</div>
					</a>
				</div>

				<div th:case="drinks">
					<a th:each="drink : ${drinks}"
						th:href="@{'/catering-menu/' + ${drink.identifier}}">
						<div class="field">
							<p th:text="${drink.name}"></p>
							<p th:text="${drink.price}"></p>
						</div>
					</a>
				</div>
				<h2 th:case="*" th:text="#{catering.welcome}">New Customer</h2>
			</div>
		</div>



		<div id="menu">
			<form method="post" action="/logout">
				<button class="slimButton" type="submit"
					th:text="#{catering.logout}" value="logout">Logout</button>
			</form>
			<form method="post" action="/chat">
				<button class="slimButton" type="submit" value="chat"
					th:text="#{catering.chat}">Chat</button>
			</form>
			<form method="post" action="/catering-meals">
				<button class="boldButton" type="submit" value="catering-meals"
					th:text="#{catering.meals}">Menu</button>
			</form>
			<form method="post" action="/catering-drinks">
				<button class="boldButton" type="submit" value="catering-drinks"
					th:text="#{catering.drinks}">Menu</button>
			</form>
		</div>
	</div>
</body>
</html>
