<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../resources/css/standard.css" />
<link rel="stylesheet" href="../resources/css/festival.css" />
<title>Festival erstellung</title>
<script type="text/javascript">
	function validateSal() {
		if (document.salform.salManagement.value == "") {
			alert("Bitte Wert eingeben!");
			document.salform.salManagement.style.borderColor = "red";
			document.salform.salManagement.focus();
			return false;
		}
		if (document.salform.salCatering.value == "") {
			alert("Bitte Wert eingeben!");
			document.salform.salCatering.style.borderColor = "red";
			document.salform.salCatering.focus();
			return false;
		}
		if (document.salform.salSecurity.value == "") {
			alert("Bitte Wert eingeben!");
			document.salform.salSecurity.style.borderColor = "red";
			document.salform.salSecurity.focus();
			return false;
		}
		if (document.salform.salCleaning.value == "") {
			alert("Bitte Wert eingeben!");
			document.salform.salCleaning.style.borderColor = "red";
			document.salform.salCleaning.focus();
			return false;
		}
	}

	function validateQuant() {
		if (document.quantform.quantManagement.value == "") {
			alert("Bitte Wert eingeben!");
			document.quantform.quantManagement.style.borderColor = "red";
			document.quantform.quantManagement.focus();
			return false;
		}
		if (document.quantform.quantCatering.value == "") {
			alert("Bitte Wert eingeben!");
			document.quantform.quantCatering.style.borderColor = "red";
			document.quantform.quantCatering.focus();
			return false;
		}
		if (document.quantform.quantSecurity.value == "") {
			alert("Bitte Wert eingeben!");
			document.quantform.quantSecurity.style.borderColor = "red";
			document.quantform.quantSecurity.focus();
			return false;
		}
		if (document.quantform.quantCleaning.value == "") {
			alert("Bitte Wert eingeben!");
			document.quantform.quantCleaning.style.borderColor = "red";
			document.quantform.quantCleaning.focus();
			return false;
		}
		return true;
	}
</script>
</head>
<body>
	<div id="webseite">
		<div id="header">
			<div id="loggedAs" th:text="#{fviv.whoami}"></div>
			<div id="title">Festival Erstellung</div>
			<div id="loginName" th:text="${#authentication?.name}">UserName</div>
		</div>


		<div id="content">
			<div id="substance">
				<div id="chooseFestivalview" th:switch="${festivalmode}">
					<!-- FestivalCase -->
					<div th:case="festival">
						<form th:action="@{/newFestival}" method="post">
							<fieldset>
							<label class="label" for="locationId"> Location
									ausw&auml;hlen: </label><select name="festivalId" size="1">
									<option th:each=" location : ${locationlist}"
										th:text="${location.id} + ${location.name}"
										th:value="${location.id}"></option>
								</select><br />
								<label class="label" for="festivalName"> Festivalname </label>
									<input type="text" name="festivalName" size="40"
									placeholder="festivalname"></input><br/>
								 <label class="label" for="startDate"> <input 
									type="date" name="startDate" size="40"
									placeholder="yyyy-MM-dd"></input>Startdatum
								</label> <br /> <label class="label" for="endDate"> <input
									type="date" name="endDate" size="40"
									placeholder="yyyy-MM-dd"></input>EndDatum
								</label> <br /> <label class="label" for="actors"> <input
									type="text" name="actors" size="40" placeholder="Künstler"></input>Künstler
								</label> <br />  <label class="label" for="preisTag"> <input
									type="text" name="preisTag" size="40"
									placeholder="Kosten Tageskarte"></input>Kosten Tageskarte
								</label> <br /> <input type="submit"
									onclick="alert('Festival wird erstellt')"
									value="Festival erstellen" />
							</fieldset>
						</form>
					</div>

					<!-- case show festivals -->
					<div th:case="showFestivals">
						<table class="festivalTable">
							<tr>
								<th>ID</th>
								<th>StartDatum</th>
								<th>EndDatum</th>
								<th>Festival Name</th>
								<!-- <th>Adresse</th> -->
								<th>Künstler</th>
								<th>Maximale Besucher</th>
								<th>Kosten TagesKarte</th>

							</tr>
							<tr th:each=" festival : ${festivallist}">
								<td th:text="${festival.id}"></td>
								<td th:text="${festival.startDatum}"></td>
								<td th:text="${festival.endDatum}"></td>
								<td th:text="${festival.festivalName}"></td>
								<!-- <td th:text="${festival.location}"></td> -->
								<td th:text="${festival.actors}"></td>
								<td th:text="${festival.maxVisitors}"></td>
								<td th:text="${festival.preisTag}"></td>
							</tr>
						</table>
					</div>

					<!-- case setup-employees -->
					<div th:case="setup-employees">
						<table class="festivalTable">
							Festival auswählen:
							<tr>
								<th>ID</th>
								<th>Festival Name</th>
							</tr>
							<tr th:each=" festival : ${festivallist}">
								<td th:text="${festival.id}"></td>
								<td th:text="${festival.festivalName}"></td>
								<td>
									<form method="post" action="/setQuantityOfEmployees">
										<input type="hidden" name="festivalId" value="0"
											th:value="${festival.id}" /> <input type="submit"
											class="button_green" value="Mitarbeiter aufstocken"
											style="margin-top: 2px;" />
									</form>
								</td>
								<td>
									<form method="post" action="/setSalary">
										<input type="hidden" name="festivalId" value="0"
											th:value="${festival.id}" /> <input type="submit"
											class="button_green" value="Gehälter festlegen"
											style="margin-top: 2px;" />
									</form>
								</td>
							</tr>
						</table>
					</div>

					<!-- case setSalary -->
					<div th:case="setSalary">

						<p th:text="${selected.festivalName}" />
						<form name="salform" action="/setNewSalary" method="post"
							onsubmit="return validateSal()">
							<table class="festivalTable">
								<tr>
									<td>Tagesgehalt für Managementangestellen</td>
									<td>Bisher:
										<p th:text="${selected.managementSalaryPerDay}" />
									</td>
									<td><input id="number" type="number" name="salManagement"
										min="1.00" step="0.10" value="0.00" /></td>
								</tr>
								<tr>
									<td>Tagesgehalt für Cateringangestellen</td>
									<td>Bisher:
										<p th:text="${selected.cateringSalaryPerDay}" />
									</td>
									<td><input id="number" type="number" name="salCatering"
										min="1.00" step="0.10" value="0.00" /></td>
								</tr>
								<tr>
									<td>Tagesgehalt für Securityangestellen</td>
									<td>Bisher:
										<p th:text="${selected.securitySalaryPerDay}" />
									</td>
									<td><input id="number" type="number" name="salSecurity"
										min="1.00" step="0.10" value="0.00" /></td>
								</tr>
								<tr>
									<td>Tagesgehalt für Cleaningangestellen</td>
									<td>Bisher:
										<p th:text="${selected.cleaningSalaryPerDay}" />
									</td>
									<td><input id="number" type="number" name="salCleaning"
										min="1.00" step="0.10" value="0.00" /></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td><input type="submit" class="button_green"
										value="Festlegen" style="margin-top: 2px;" /></td>
								</tr>
							</table>
						</form>
					</div>

					<!-- case setQuantity -->
					<div th:case="setQuantity">
						<form name="quantform" action="/setNewQuant" method="post"
							onsubmit="return validateQuant()">
							<table class="festivalTable">
								<tr>
									<td>Anzahl Manager</td>
									<td>Bisher:
										<p th:text="${selected.quantManagement}" />
									</td>
									<td><input id="number" type="number"
										name="quantManagement" min="1" step="1" value="0" /></td>
								</tr>
								<tr>
									<td>Anzahl Caterer:</td>
									<td>Bisher:
										<p th:text="${selected.quantCatering}" />
									</td>
									<td><input id="number" type="number" name="quantCatering"
										min="1" step="1" value="0" /></td>
								</tr>
								<tr>
									<td>Anzahl Securityangesteller</td>
									<td>Bisher:
										<p th:text="${selected.quantSecurity}" /> Empfohlen:
										<p th:text="${selected.RecommendedQuantSecurity}" />
									</td>
									<td><input id="number" type="number" name="quantSecurity"
										min="1" step="1" value="0" /></td>
								</tr>
								<tr>
									<td>Anzahl Cleaningangestellter:</td>
									<td>Bisher:
										<p th:text="${selected.quantCleaning}" />
									</td>
									<td><input id="number" type="number" name="quantCleaning"
										min="1" step="1" value="0" /></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td><input type="submit" class="button_green"
										value="Festlegen" style="margin-top: 2px;" /></td>
								</tr>
							</table>
						</form>
					</div>


				</div>
			</div>
		</div>
		<div id="menu">
			<form method="post" action="/logout">
				<button class="slimButton" type="submit"
					th:text="#{catering.logout}" value="logout">Logout</button>
			</form>
			<form method="post" action="/chat">
				<button class="slimButton" type="submit" value="chat"
					th:text="#{catering.chat}">Chat</button>
			</form>
			<form th:action="@{/showFestival}" method="post">
				<button class="boldButton">Festivals anzeigen</button>
			</form>
			<form th:action="@{/setup-employees}" method="post">
				<button class="boldButton">Mitarbeiter hinzufügen</button>
			</form>
			<form th:action="@{/festival}" method="post">
				<button class="boldButton">Festivals erstellen</button>
			</form>

		</div>
		<div th:include="messaging :: messaging"></div>
	</div>
</body>
</html>