<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/indexcss.css" />
<link href='http://fonts.googleapis.com/css?family=Oxygen'
	rel='stylesheet' type='text/css' />
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<title th:text="#{home.title}">FVIV Festivalmanager</title>
</head>

<!--  Festival Plan -->

<body>
<!-- delete when finish -->
	<form method="post" action="/logout">
				<button class="slimButton" type="submit"
					th:text="#{catering.logout}" value="logout">Logout</button>
			</form>
<!-- delete when finish -->
			
			
	<div id="content">
			<form action="/catering" method="post">
				<input type="submit" value="Catering Terminal" class="slimButton"></input>
			</form>
			<form action="/manager" method="post">
				<input type="submit" value="Manager Terminal" class="slimButton"></input>
			</form>
			<form action="/ticket" method="post">
				<input type="submit" value="Ticket Terminal" class="slimButton"></input>
			</form>
			<form action="/planning" method="post">
				<input type="submit" value="Gel&auml;ndeplaner" class="slimButton"></input>
			</form>
			<form action="/festival" method="post">
				<input type="submit" value="Festival Terminal" class="slimButton"></input>
			</form>
			<form action="/stage" method="post">
				<input type="submit" value="Bühnen Terminal" class="slimButton"></input>
			</form>
			
			
	</div>
    <div th:include="messaging :: messaging"></div>
	<div th:include="artists :: artists"></div>

</body>
</html>