<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/resources/css/standard.css" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <title th:text="#{home.title}">FVIV Festivalmanager</title>
    <style type="text/css">
        .formsegement {
            float: left;
        }
    </style>
</head>

<body>

<div id="webseite">

    <div id="header">
        <div id="loggedAs">angemeldet als:</div>
        <div id="title">title</div>
        <div id="loginName">UserName</div>
    </div>
<div id="content">
    <div>
        <table>
            <thead>
            <tr>
                <td>Artist ID</td>
                <td>Artist Name</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artist : ${bookedArtists}">
                <td th:text="${artist.id}"></td>
                <td th:text="${artist.name}"></td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <td>Stage ID</td>
                <td>Stage Name</td>
                <td>Festival</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stage : ${stages}">
                <td th:text="${stage.id}"></td>
                <td th:text="${stage.name}"></td>
                <td th:text="${stage.festival.festivalName}"></td>
            </tr>
            </tbody>
        </table>
        <div th:each="festival : ${festivalSchedules}">
            <h3 th:text="${festival.t1.festivalName}"></h3>
            <div th:each="tuple : ${festival.t2}" class="day">
                <div class="dayHeadline" th:text="${tuple.t1.name}"></div>
                <div class="dayContent">
                    <table>
                        <thead>
                        <tr>
                            <td>Künstler</td>
                            <td colspan="1">Start</td>
                            <td colspan="1">Ende</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="event : ${tuple.t2}">
                            <td class="event" th:text="${event.artist.name}"></td>
                            <td class="time" th:text="${event.start.toLocalTime()}"></td>
                            <td class="time" th:text="${event.end.toLocalTime()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <form action="/booking/artist/schedule" method="POST">
        <div class="formsegement"><label for="artist">Artist ID</label><input id="artist" name="artist" type="number" /></div>

        <div class="formsegement"><label for="startDay">Tag</label><input id="startDay" name="startDay" type="number" /></div>
        <div class="formsegement"><label for="startMonth">Monat</label><input id="startMonth" name="startMonth" type="number" /></div>
        <div class="formsegement"><label for="startYear">Jahr</label><input id="startYear" name="startYear" type="number" /></div>
        <div class="formsegement"><label for="startHour">Stunde</label><input id="startHour" name="startHour" type="number" /></div>
        <div class="formsegement"><label for="startMinute">Minute</label><input id="startMinute" name="startMinute" type="number" /></div>

        <div class="formsegement"><label for="duration">Dauer</label><input id="duration" name="duration" type="number" /></div>

        <div class="formsegement"><label for="stage">Stage</label><input id="stage" name="stage" type="text" /> </div>
        <input type="submit" value="Submit" />
    </form>
</div>
<div th:include="messaging :: messaging"></div>
<div th:include="artists :: artists"></div>
</div>
</body>
</html>