<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Author: Hendric Eckelt -->

<head>
<meta charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../resources/css/standard.css" />
<link rel="stylesheet" href="../resources/css/manager.css" />
<title>Manager</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script th:inline="Javascript">
$(function () { 
	var salary = [[${salaryTotal}]];
	var catering = [[${cateringTotal}]];
	var rent = [[${rentTotal}]];
	var total = salary+catering+rent;
	var deposit = [[${deposit}]];
	var balance = deposit - total;
	
    $('#financesChart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'FVIV Finanzen'
        },
        xAxis: {
        	categories: ['Gesamt']
        },
        yAxis: {
            title: {
                text: 'Ausgaben in €'
            }
        },
        series: [{
        	name: 'Balance',
        	data: [balance]
    	},{		
            name: 'Guthaben',
            data: [deposit]
        },{
        	name: 'Ausgaben Total',
        	data: [total]     	
        },{
        	name: 'Gehälter Total',
        	data: [salary]
        },{
        	name: 'Catering Total',
        	data: [catering]
        },{
        	name: 'Miete Total',
        	data: [rent]
        }]
    });
});
</script>

</head>

<body>
	<div id="webseite">
		<div id="header">
			<div id="loggedAs">angemeldet als:</div>
			<div th:switch="${managermode}">
				<div th:case="employees">
					<div id="title">MITARBEITER</div>
				</div>
				<div th:case="finances">
					<div id="title">FINANZEN</div>
				</div>
				<div th:case="accounts">
					<div id="title">ACCOUNTS</div>
				</div>
				<div th:case="*">
					<div id="title">TERMINAL</div>
				</div>
			</div>
			<div id="loginName" th:text="${#authentication?.name}"></div>
		</div>
		<div id="content">
			<div id="substance">
				<div id="chooseManagerView" th:switch="${managermode}">
					<!-- Employee case -->
					<div th:case="employees">
						<table class="employeeTable">
							<tr>
								<th>ID</th>
								<th>Nachname</th>
								<th>Vorname</th>
								<th>Email-Adresse</th>
								<th>Telefonnummer</th>
							</tr>
							<tr th:each=" employee : ${employeelist}">
								<td th:text="${employee.id}"></td>
								<td th:text="${employee.userAccount.lastname}"></td>
								<td th:text="${employee.userAccount.firstname}"></td>
								<td th:text="${employee.userAccount.email}"></td>
								<td th:text="${employee.phone}"></td>
							</tr>
						</table>
						<div align="center">
							<p>Mitarbeiter entfernen:</p>
							<form th:action="@{/deleteEmployee}" method="post">
								<input type="text" placeholder="ID eingeben" name="employeeId"
									id="deleteEmployeeText"></input> <input type="submit"
									value="Löschen"></input>
							</form>
						</div>
						<div align="center">
							<p>Neuen Mitarbeiter hinzufügen:</p>
							<!--Communicates with controller @RequestMapping("/newEmployee") -->
							<form th:action="@{/newEmployee}" method="post"
								th:object="${registration}">
								<input type="text" placeholder="Nachname" id="lastname"
									th:field="*{lastname}"></input> <br /> <input type="text"
									placeholder="Vorname" id="firstname" th:field="*{firstname}"></input>
								<br /> <input type="text" placeholder="E-mail Adresse"
									id="email" th:field="*{email}"></input> <br /> <input
									type="text" placeholder="Telefonnummer" id="phone"
									th:field="*{phone}"></input> <br /> <input type="submit"
									value="Speichern" style="margin-top: 3px"></input>
							</form>
						</div>
					</div>

					<!-- Finance case -->
					<div th:case="finances">
						<div align="center">
							<table class="salaryTable">
								<tr>
									<th>Ausgabenart</th>
									<th>Menge</th>
								</tr>
								<tr th:each=" salary : ${salary}">
									<td>Gehalt</td>
									<td th:text="${salary.amount}"></td>
								</tr>
								<tr>
									<th>Gehälter Total:</th>
									<th th:text="${salaryTotal}" id="salaryTotal"></th>
								</tr>
							</table>
							<table class="cateringTable">
								<tr>
									<th>Ausgabenart</th>
									<th>Menge</th>
								</tr>
								<tr th:each=" catering : ${catering}">
									<td>Catering</td>
									<td th:text="${catering.amount}"></td>
								</tr>
								<tr>
									<th>Catering Total:</th>
									<th th:text="${cateringTotal}"></th>
								</tr>
							</table>
							<table class="rentTable">
								<tr>
									<th>Ausgabenart</th>
									<th>Menge</th>
								</tr>
								<tr th:each=" rent : ${rent}">
									<td>Miete</td>
									<td th:text="${rent.amount}"></td>
								</tr>
								<tr>
									<th>Miete Total:</th>
									<th th:text="${rentTotal}"></th>
								</tr>
							</table>
						</div>
						<div id="financesChart"></div>
					</div>

					<!-- Accounts case -->
					<div th:case="accounts">
						<table class="accountTable">
							<tr>
								<th>Benutzername</th>
								<th>Berechtigung</th>
								<th>Status</th>
							</tr>
							<tr th:each=" account : ${userAccounts}">
								<td th:text="${account.identifier}"></td>
								<td th:text="${account.getRoles()}"></td>
								<td th:if="${account.isEnabled()}">aktiviert</td>
								<td th:unless="${account.isEnabled()}">deaktiviert</td>
							</tr>
						</table>
						<div align="center">
							<p>Berechtigung bearbeiten:</p>
							<form action="/editAccount" method="post">
								<input type="text" name="userNameEdit"
									placeholder="Benutzername"></input> <select name="roles">
									<option th:each=" role : ${roles}" th:value="${role}"
										th:text="${role.getName()}"></option>
								</select> <input type="submit" name="save" value="Hinzufügen"></input> <input
									type="submit" name="delete" value="Löschen"></input> <input
									type="submit" name="enable" value="Aktivieren"></input> <input
									type="submit" name="disable" value="Deaktivieren"></input>
							</form>
						</div>
					</div>

					<!-- Standard case -->
					<div th:case="*">
						<img src="../resources/img/FVIVgmbh.png"
							style="width: 100%; height: 150px;"></img>
					</div>

				</div>
			</div>
		</div>
		<div id="menu">
			<form action="/logout" method="post">
				<input type="submit" class="slimButton" value="Logout"></input>
			</form>
			<button class="slimButton">Chat</button>
			<form method="post" action="/Terminal">
				<input type="submit" class="boldButton" value="Terminal"></input>
			</form>
			<form method="post" action="/Employees">
				<input type="submit" class="boldButton" value="Mitarbeiter"></input>
			</form>
			<form method="post" action="/Finances">
				<input type="submit" class="boldButton" value="Finanzen"></input>
			</form>
			<form method="post" action="/Accountmanagement">
				<input type="submit" class="boldButton" value="Accounts"></input>
			</form>
		</div>
	</div>
</body>
</html>
