<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="styles/standard.css"/>
<link rel="stylesheet" href="styles/manager.css"/>
<title>Manager</title>
</head>

<body>
<div id="webseite">
  <div id="header">
    <div id="loggedAs">angemeldet als:</div>
    <div id="title">HEADLINE</div>
    <div id="loginName">Manager</div>
  </div>
  <div id="content">
	<div id="substance">
    
    </div>
  </div>
  <div id="menu">
    <button class="slimButton">Logout</button>
    <button class="slimButton">Chat</button>
    <button class="boldButton">proTerminal</button>
    <button class="boldButton">Mitarbeiter</button>
    <button class="boldButton">Finanzen</button>
    <button class="boldButton">Accounts</button>
  </div>
</div>
</body>
</html>
