<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
</head>
<body>
    <div th:fragment="messaging">
        <ul sec:authorize="hasRole('MESSAGE_RECEIVER')" class="messages">
            <li th:each="message : ${messages}" th:text="${message}" th:fragment="message">
                Error
            </li>

        </ul>
        <form sec:authorize="hasRole('MESSAGE_SENDER')" class="send-form" action="/fviv/messaging/send" method="post">
            <label for="recipient">Receiver</label> <input type="number" name="recipient" id="recipient" />
            <label for="message-content">Your Message</label><textarea id="message-content"></textarea>
            <input type="submit" value="Submit" />
            <input sec:authorize="isAuthenticated()" type="hidden" name="sender" th:value="${#authentication?.id}"/>
        </form>
    </div>
</body>
</html>