<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css" />

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/messaging.js"></script>
</head>
<body>
    <div th:fragment="message-list">
        <h3>Hello and welcome ... dude, TO THE MESSAGING!!!</h3>
        <table id="messages" sec:authorize="hasRole('MESSAGE_RECEIVER')">
            <thead>
            <tr>
                <th>Sender</th>
                <th>Date received</th>
                <th style="font-weight: normal;"><i>separator</i></th>
                <th>Message content</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div th:fragment="message-form">
        <div sec:authorize="hasRole('MESSAGE_SENDER')">
            <div id="recipients"></div>
            <div id="message-forms"></div>
            <button id="refresh-messages">Refresh Messages</button>
            <button id="refresh-receivers">Refresh Receivers</button>
        </div>
    </div>


</body>
</html>