<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oxygen'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="../resources/css/planning.css" />
<script type="text/javascript" src="../resources/scripts/planning.js"></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<title>Catering Test</title>
</head>

<body>
	<div id="webseite">
		<div id="header">
			<span id="header_text">GELÄNDEPLANER</span>
		</div>
		<div id="content">
			<div id="request">
				<h3>Grö&szlig;e eingeben</h3>
				<form action="" method="post" name="size">
					<table>
						<tr>
							<td>Weite:</td>
							<td><input type="number" name="width" size="30" /> m</td>
						</tr>
						<tr>
							<td>Höhe:</td>
							<td><input type="number" name="height" size="30" /> m</td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit" value="submit"
								onClick="build();" /></td>
						</tr>
					</table>
				</form>
			</div>
			<div id="requestAll">
				<h3>Grö&szlig;e eingeben</h3>
				<form action="" method="post" name="objects">
					<table>
						<tr>
							<td>Left:</td>
							<td><input type="number" name="left" size="30" /> m</td>
						</tr>
						<tr>
							<td>Top:</td>
							<td><input type="number" name="top" size="30" /> m</td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit" value="submit"
								onClick="build2();" /></td>
						</tr>
					</table>
				</form>
			</div>

			<div id="frame">
				<div id="area" th:style="${sizeArea}">
					<div th:each="kloStyle : ${toilets}">
						<div id="toilet"
							th:style="${kloStyle}">WC</div>
					</div>
					<div id="stage" th:style="${sizeStage}">STAGE</div>
					<div id="camping" th:style="${sizeCamping}">CAMPING</div>
					<div id="catering" th:style="${sizeCatering}">CATERING</div>
				</div>
			</div>
		</div>
		<div id="menu">
			<div class="menuPointNormal" onclick="newArea()	;">
				<p>Neues Gelände</p>
			</div>
			<div class="menuPointNormal" onClick="newObject(1)">
				<p>Bühnen</p>
			</div>
			<div class="menuPointNormal" onClick="newObject(2)">
				<p>Catering</p>
			</div>
			<div class="menuPointNormal" onClick="newObject(3)">
				<p>Toiletten</p>
			</div>
			<div class="menuPointNormal" onClick="newObject(4)">
				<p>Zeltplatz</p>
			</div>
		</div>
		<div th:include="messaging :: messaging"></div>
	</div>

</body>
</html>
