<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="styles/standard.css"/>
<link rel="stylesheet" href="styles/planning.css"/>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<title>Planer</title>
</head>

<body>
<div id="webseite">
  <div id="header">
    <div id="loggedAs">angemeldet als:</div>
    <div id="title">Planning</div>
    <div id="loginName">UserName</div>
  </div>
  <div id="content">
  <div id="substance"></div>
  </div>
  <div id="menu"> 
  <button class="slimButton">Menupunkt1</button>
  <button class="slimButton">Menupunkt2</button>
   <button class="boldButton">Menupunkt1</button>
  <button class="boldButton">Menupunkt2</button>
   <button class="boldButton">Menupunkt1</button>
  </div>
  <div th:include="messaging :: messaging"></div>
</div>
</body>
</html>
