<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<link href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../resources/css/standard.css" />
<link rel="stylesheet" href="../resources/css/planning.css" />
<script src="../resources/scripts/jquery-1.11.1.js"></script>
<!--<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script> -->
<script type="text/javascript" src="../resources/scripts/jquery-ui.js"></script>
<script type="text/javascript" src="../resources/scripts/planning.js"></script>
<title>Planer</title>
</head>

<body>
	<div id="webseite">
	<div id="festival-id" th:text="${festivalId}" style="display:none;"></div>
		<div id="header">
			<div id="loggedAs" th:text="#{fviv.whoami}"></div>
			<div id="title">Planning</div>
			<div id="loginName" th:text="${#authentication?.name}">UserName</div>
		</div>
		<div id="content">
			<div id="substance">
				<div id="request">
					<h3>Grö&szlig;e eingeben</h3>
					<form action="/newArea" method="post" id="size" name="size">
						<table>
							<tr>
								<td>Weite:</td>
								<td><input type="number" name="width" size="30" /> m</td>
							</tr>
							<tr>
								<td>Höhe:</td>
								<td><input type="number" name="height" size="30" /> m</td>
							</tr>
							<tr>
								<td colspan="2"><input type="submit" value="submit"
									class="button" /> <input type="reset" value="reset"
									class="button" onClick="breakIt();" /></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
		<div id="menu">
			<form method="post" action="/logout">
				<button class="slimButton" type="submit"
					th:text="#{catering.logout}" value="logout">Facepalm</button>
			</form>
			<!-- <div th:include="messaging :: messaging"></div> -->
			<button class="slimButton" onClick="saveIt();">Speichern</button>
			<button class="boldButton" onClick="newArea();">New Area</button>
			<button class="boldButton" onClick="openSubMenu('stage');">Stages</button>

			<div class="objectMenu" id="stages">
				<div class="chooseObject" onClick="buildObject(this,0, 'STAGE');">kleine
					Bühne</div>
				<div class="chooseObject" onClick="buildObject(this,1, 'STAGE');">mittlere
					Bühne</div>
				<div class="chooseObject" onClick="buildObject(this,2, 'STAGE');">große
					Bühne</div>
			</div>
			<button class="boldButton" onClick="openSubMenu('toilet');">Toiletten</button>
			<div class="objectMenu" id="toilets">
				<div class="chooseObject" onClick="buildObject(this,3, 'TOILET');">ToiToi</div>
				<div class="chooseObject" onClick="buildObject(this,4, 'TOILET');">Behindertengerecht</div>
				<div class="chooseObject" onClick="buildObject(this,5, 'CATERING');">BadContainer</div>
			</div>
			<button class="boldButton" onClick="openSubMenu('catering');">Catering</button>
			<div class="objectMenu" id="catering">
				<div class="chooseObject" onClick="buildObject(this,6, 'CATERING');">Bierwagen</div>
				<div class="chooseObject" onClick="buildObject(this,7, 'CATERING');">Essplätze</div>
				<div class="chooseObject" onClick="buildObject(this,8, 'CATERING');">Mülleimer</div>
			</div>
			<button class="boldButton" onClick="buildObject(this,9,'CAMPING');">Campingareal</button>
		</div>
	</div>
</body>
</html>
