<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="styles/standard.css"/>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<title>Template</title>
</head>

<body>
<div id="webseite">
  <div id="header">
    <div id="loggedAs">angemeldet als:</div>
    <div id="title">title</div>
    <div id="loginName">UserName</div>
  </div>
  <div id="content"></div>
  <div id="menu"> 
  <button class="slimButton">Menupunkt1</button>
  <button class="slimButton">Menupunkt2</button>
   <button class="boldButton">Menupunkt1</button>
  <button class="boldButton">Menupunkt2</button>
   <button class="boldButton">Menupunkt1</button>
  </div>
  <div th:include="messaging :: messaging"></div>
</div>
</body>
</html>
