<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="styles/standard.css"/>
<link rel="stylesheet" href="styles/terminal.css"/>
<title>terminal</title>
</head>

<body>
<div id="webseite">
  <div id="header">
    <div id="title">terminal</div>
  </div>
  <div id="content">
    <div id="substance">
      <div class="day">
        <div class="dayHeadline">Headline</div>
        <div class="dayContent">
          <table>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="day">
        <div class="dayHeadline">Headline</div>
        <div class="dayContent">
          <table>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="day">
        <div class="dayHeadline">Headline</div>
        <div class="dayContent">
          <table>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="day">
        <div class="dayHeadline">Headline</div>
        <div class="dayContent">
          <table>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="day">
        <div class="dayHeadline">Headline</div>
        <div class="dayContent">
          <table>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
            <tr>
              <td class="time">hh:mm- hh:mm</td>
              <td class="event">EVENTEVENT</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="menu">
    <button class="boldButton">Lageplan</button>
    <button class="boldButton">Programm</button>
  </div>
</div>
</body>
</html>
