<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../resources/css/standard.css" />
<link rel="stylesheet" href="../resources/css/ticket.css" />
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<title>ticketstest</title>
</head>
<body>
	<div id="webseite">
		<div id="header">
			<div id="loggedAs">angemeldet als:</div>
			<div id="title">Ticketverkauf</div>
			<div id="loginName">UserName</div>
		</div>
		<div id="content">
			<div id="substance">
				<form th:action="@{/pruefeTicket}" method="post">
					<fieldset>
						<label class="label" for="ticketart"> Ticketart
							ausw&auml;hlen:</label> <br /> <input type="radio" name="ticketart"
							value="true" checked="checked" />Tagesticket <br /> <input
							type="radio" name="ticketart" value="false" />3-Tagesticket <label
							class="label" for="numbers"> <input type="text"
							name="numbers" size="40" placeholder="TicketID" /></label> <input
							type="submit" value="Ticket einchecken" />
					</fieldset>
				</form>
			</div>
		</div>
		<div id="menu">
			<button class="slimButton">Logout</button>
			<button class="slimButton">Chat</button>
			<a href="ticket.html"><button class="boldButton">Zurück</button></a>
			<form th:action="@{/ticketPruefen}" method="post">
				<button class="boldButton">Ticket Pr&uuml;fen</button>
			</form>
		</div>
	</div>
	<div th:include="messaging :: messaging"></div>
</body>
</html>