<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../resources/css/standard.css" />
<link rel="stylesheet" href="../resources/css/ticket.css" />
<title>tickets</title>
</head>
<body>
	<div id="chooseTicketView" th:switch="${ticketmode}">
		<!-- TicketCase -->
		<div th:case="ticket">
			<div id="webseite">
				<div id="header">
					<div id="loggedAs" th:text="#{fviv.whoami}"></div>
					<div id="title">Ticketverkauf</div>
					<div id="loginName" th:text="${#authentication?.name}"></div>
				</div>


				<div id="content">
					<div id="substance">

						<form th:action="@{/loadfestivalTicket}" method="post">
							<fieldset>
								<label class="label" for="festivalId"> Festival
									ausw&auml;hlen: </label><select class="button" name="festivalId" size="1">
									<option th:each=" festival : ${festivallist}"
										th:text="${festival.id} + ${festival.festivalName}"
										th:value="${festival.id}"></option>
								</select><br /> <input class="button" type="submit" value="Festival laden" />
							</fieldset>
						</form>
						<form th:action="@{/newTicket}" method="post">
							<fieldset>
								<label class="label" for="ticketart"> Ticketart
									ausw&auml;hlen:</label> <br /> <input type="radio" name="ticketart"
									value="false" checked="checked" />3-Tagesticket <br /> <input
									type="radio" name="ticketart" value="true" />Tagesticket <br />
								<label class="label"> Festivaltag ausw&auml;hlen</label> <select class="button"
									name="hilfsDate" size="1">
									<option th:each=" hilfsDate : ${ticketdates}"
										th:text="${hilfsDate}" th:value="${hilfsDate}"></option>


								</select><br /> <label class="label" for="numbers"> <input
									type="number" min="1" name="numbers" size="40" placeholder="Anzahl" /></label> <input
									type="submit" class="button" onclick="alert('Ticket/s wird/werden erstellt')"
									value="Ticket erstellen" />
									 <label
									class="label" for="eroor" th:text="${eroor}"></label>
							</fieldset>

						</form>
						<form th:action="@{/ticketDrucken}" method="post" target="_blank">
						<fieldset>
							<label class="label" for="ticketnummer">Ticket Drucken</label>
							<input type="text" name="ticketnummer" placeholder="Ticket ID drucken" />
							<input type="submit" class="button" value="Ticket drucken" />
							</fieldset>
						</form>
					</div>
				</div>

				<div id="menu">
					<form method="post" action="/logout">
						<button class="slimButton" type="submit"
							th:text="#{catering.logout}" value="logout">Logout</button>
					</form>
					<form th:action="@{/ticket}" method="post">
						<button class="boldButton" type="submit">Ticket Drucken</button>
					</form>
					<form th:action="@{/ticketPruefen}" method="post">
						<button class="boldButton">Ticket Pr&uuml;fen</button>
					</form>
				</div>
			</div>
		</div>
		<div th:case="ticketpruefen">
			<div id="webseite">
				<div id="header">
					<div id="loggedAs" th:text="#{fviv.whoami}"></div>
					<div id="title">Ticketverkauf</div>
					<div id="loginName" th:text="${#authentication?.name}"></div>
				</div>
				<div id="content">
					<div id="substance">
						<div class="ticketlist">
							<label class="label" for="ticketlist"> Liste aller
								Tickets </label>

							<ul>
								<li th:each=" ticket : ${ticketlist}"
									th:text="${ticket.id} + ' ' + ${ticket.festivalName}"></li>
							</ul>
						</div>


						<form th:action="@{/pruefeTicket}" method="post">
							<fieldset>
								<label class="label" for="numbers"> <input type="text"
									name="numbers" size="40" placeholder="TicketID" /></label> <input
									type="submit" class="button"  value="Ticket einchecken" /><br /> <label
									class="label" for="checken" th:text="${forhtml}"></label>

							</fieldset>
						</form>
					</div>
				</div>
				<div id="menu">
					<form method="post" action="/logout">
						<button class="slimButton" type="submit"
							th:text="#{catering.logout}" value="logout">Logout</button>
					</form>
					<form th:action="@{/changeMode}" method="post">
						<button class="boldButton">Ticket Drucken</button>
					</form>
					<form th:action="@{/ticketPruefen}" method="post">
						<button class="boldButton">Ticket Pr&uuml;fen</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>