#content{
	border-color:#0c3;
}

#substance {
	width: 835px;
	height: auto;
	border: #0c3 medium solid;
	margin-top: 10px;
}

.slimButton {
	border: #0C3 medium solid !important;
	position: relative;
}

.boldButton {
	border: #0c3 medium solid !important;
	position: relative;
}

.slimButton:active {
	border: #0c3 medium solid !important;
}

.boldButton:active {
	border: #0c3 medium solid !important;
}

table {
	border-collapse: collapse;
}
tr:nth-child(even) {
	background: #666;
}
tr:nth-child(odd) {
	background: #383839;
}
th{
	border-width: 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
}
td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
}
#frame-for-artists-table{
	width:835px;
	height:500px;
	overflow-x:auto;
}
#artists-table{
	width:818px;
}